<%= render partial: '/mobile/filters/style' %>

<div class="tableholder">
  <label><%= @page_title %><div class="last-update"><em><%= @update_date %></em> 更新</div></label>
  <div>
    <table>
      <thead>
        <tr>
          <th>名称</th>
          <td>最新价</td>
          <td>涨跌幅</td>
          <td>主力流入<span>净额/占比</span></td>
        </tr>
      </thead>
      <tbody>
        <% @filters.each do |filter| %>
        <% rs = @rs_stocks[filter.base_stock_id] %>
        <tr data-id="<%=filter.base_stock_id%>" data-name="<%=filter.c_name%>" data-symbol="<%=filter.symbol%>">
          <th><a data-id="<%=filter.base_stock_id%>" data-name="<%=filter.c_name%>" data-symbol="<%=filter.symbol%>"><span><%=filter.c_name%></span><i><%=filter.symbol%></i></a></th>
          <td><em class="<%= up_or_down_class(rs.try(:percent_change_from_previous_close))%>"><%=rs.try(:realtime_price)%></em></td>
          <td><em class="<%= up_or_down_class(rs.try(:percent_change_from_previous_close)) %>"><%= number_with_operator(rs.try(:percent_change_from_previous_close)) %>%</em></td>
          <td><span><%= filter.main_value.to_s.to_c_unit %></span> <%= filter.main_percent.round(2) %>%</td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<%= render partial: '/mobile/filters/base' %>

