<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
  <title><%= @page_title %></title>
  <%= seo_title(@page_title) %>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag "/stylesheets/mobile/mo.login.css" %>
  <%= javascript_include_tag 'mobile', "/javascripts/jquery.caishuo", "/javascripts/mo.formcheck" %>
  <%= yield :header %>
</head>
<body class="<%= @body_class %>">
  <%= render '/shared/analytics/gtm'%>
  <%= yield %>
</body>
<%= yield :script %>
</html>
