<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= @page_title %></title>
  <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
  <meta name="format-detection" content="telephone=no,email=no,date=no,address=no" />
  <%= favicon_link_tag '/images/favicon_32.ico', type: "image/x-icon" -%>
  <%= javascript_include_tag "mobile", "/javascripts/mo.caishuo.js", "/javascripts/mo.caishuo.bridge.min.js" %>
  <%= stylesheet_link_tag "/stylesheets/mobile/mo.global.css" %>
  <%= yield :header %>
  <%= csrf_meta_tags %>
</head>
<body  class="<%= @body_class %>">
  <%= render '/shared/analytics/gtm' unless @hide_gtm %>
  <%= render partial: "/layouts/top_download" unless mobile_request? || @hide_top_bar %>
  <%= yield%>
  <%= render '/shared/analytics' -%>
  <%= yield :script %>

  <script type="text/javascript">
    $(function(){
      FastClick.attach(document.body);
    })
  </script>
</body>
</html>
