<article comment_id="<%= reply.id %>">
  <a class="username"><%= reply.commenter.try(:username) %></a>
  <p>回复<%= reply.replyable.try(:commenter).try(:username) %>：<%= raw reply.safe_content %></p>
  <div class="commentAction reply">
    <span class="date"><%= reply.created_at.strftime("%m月%d日 %H:%M") %></span>
    <% if user_signed_in? %>
      <a href="javascript:" class="<%= reply.liked_by_user?(current_user.try(:id)) ? "liked" : "likeable" %>">赞(<i><%= reply.likes_count.to_i %></i>)</a> | 
    <% else %>
      <a href="javascript:void(0);" class="j-login-popup">赞(<i><%= reply.likes_count.to_i %></i>)</a> | 
    <% end %>
    <a href="javascript:" class="<%= user_signed_in? ? "replyable" : "j-login-popup" %>">回复(<i><%= reply.comments_count.to_i %></i>)</a>
    <% if reply.commented_by?(current_user.try(:id)) %>
      | <a href="javascript:" class="remove remove_comment">删除</a>
    <% end %>
  </div>
</article>
