<h1 class="title">
  <span class="title_left"><%= @page_title %></span>
  <span class="title_right">
    <%=link_to '详情', [:admin, @contest], style: 'margin-right: 10px;'%>
    <%=link_to '返回列表', admin_contests_path %>
  </span>
</h1>

<%= form_for [:admin, @contest], url: {action: :import} do |f| -%>
  <table class="grid_form">
    <tbody>
      <tr>
        <td class="field"><b></b><%= f.label :players_area %></td>
        <td><%= f.text_area :players_area, cols: 80, rows: 40 %></td>
      </tr>
      <tr>
        <td class="field"></td>
        <td><%= f.submit '提交' %><%= link_to '参赛用户列表', admin_players_path(q: {contest_id_eq: @contest.id}) %></td>
      </tr>
    </tbody>
  </table>
<% end -%>
<% if @data %>
  导入用户: <%= @data[:imported] %>/<%= @data[:count] %>
  <% if @data[:errors].present? %>
    错误信息: 
    <table class="grid">
      <thead>
        <tr>
          <th>券商账户</th>
          <th>错误信息</th>
        </tr>
      </thead>
      <tbody>
        <% @data[:errors].each do |k,v| %>
          <tr>
            <td><%= k %></td>
            <td>
              <% v.each do |message| %>
                <%= message %><br />
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
<% end %>

