<h1 class="title">
  <span class="title_left">Historical quote详情页面</span>
  <span class="title_right">
    <%= link_to "编辑", [:edit, :admin, @historical_quote], style: "margin-right: 10px;" %>
    <%= link_to "返回列表", admin_historical_quotes_path %>
  </span>
</h1>

<table class="grid_form">
  <tbody>
    <tr>
      <td class="field">Id</td>
      <td>
        <%= @historical_quote.id %>
      </td>
    </tr>
    <tr>
      <td class="field">Base stock</td>
      <td>
        <%= @historical_quote.base_stock_id %>
      </td>
    </tr>
    <tr>
      <td class="field">Symbol</td>
      <td>
        <%= @historical_quote.symbol %>
      </td>
    </tr>
    <tr>
      <td class="field">Last</td>
      <td>
        <%= @historical_quote.last %>
      </td>
    </tr>
    <tr>
      <td class="field">Open</td>
      <td>
        <%= @historical_quote.open %>
      </td>
    </tr>
    <tr>
      <td class="field">High</td>
      <td>
        <%= @historical_quote.high %>
      </td>
    </tr>
    <tr>
      <td class="field">Low</td>
      <td>
        <%= @historical_quote.low %>
      </td>
    </tr>
    <tr>
      <td class="field">Last close</td>
      <td>
        <%= @historical_quote.last_close %>
      </td>
    </tr>
    <tr>
      <td class="field">Change from open</td>
      <td>
        <%= @historical_quote.change_from_open %>
      </td>
    </tr>
    <tr>
      <td class="field">Percent change from open</td>
      <td>
        <%= @historical_quote.percent_change_from_open %>
      </td>
    </tr>
    <tr>
      <td class="field">Change from last close</td>
      <td>
        <%= @historical_quote.change_from_last_close %>
      </td>
    </tr>
    <tr>
      <td class="field">Percent change from last close</td>
      <td>
        <%= @historical_quote.percent_change_from_last_close %>
      </td>
    </tr>
    <tr>
      <td class="field">Index</td>
      <td>
        <%= @historical_quote.index %>
      </td>
    </tr>
    <tr>
      <td class="field">Volume</td>
      <td>
        <%= @historical_quote.volume %>
      </td>
    </tr>
    <tr>
      <td class="field">Date</td>
      <td>
        <%= @historical_quote.date %>
      </td>
    </tr>
    <tr>
      <td class="field">Created at</td>
      <td>
        <%= @historical_quote.created_at %>
      </td>
    </tr>
    <tr>
      <td class="field">Updated at</td>
      <td>
        <%= @historical_quote.updated_at %>
      </td>
    </tr>
    <tr>
      <td class="field">Currency</td>
      <td>
        <%= @historical_quote.currency %>
      </td>
    </tr>
    <tr>
      <td class="field">Ma5</td>
      <td>
        <%= @historical_quote.ma5 %>
      </td>
    </tr>
    <tr>
      <td class="field">Ma10</td>
      <td>
        <%= @historical_quote.ma10 %>
      </td>
    </tr>
    <tr>
      <td class="field">Ma20</td>
      <td>
        <%= @historical_quote.ma20 %>
      </td>
    </tr>
    <tr>
      <td class="field">Ma30</td>
      <td>
        <%= @historical_quote.ma30 %>
      </td>
    </tr>
  </tbody>
</table>
