<tr>
  <td><%= index %></td>
  <td><%= link_to base_stock.symbol, stock_path(base_stock), target: "_blank" %></td>
  <td><%= link_to base_stock.com_name, stock_path(base_stock), target: "_blank" %></td>
  <td><%= topic_stock.hot_score %> (<%=topic_stock.hot_score_change%>)</td>
  <td><%= base_stock.realtime_price %></td>
  <td><%= base_stock.five_day_return %>%</td>
  <td><%= base_stock.one_month_return %>%</td>
</tr>