<%=content_for :header do %>
  <%= stylesheet_link_tag "/stylesheets/v3/investment.css", "/stylesheets/v3/creat1.css" %>
<% end %>

<div class="container">
  <%= render :partial => "/shared/sub_menus/positions" %>

  <div class="content">
    <nav class="createStep">
    <strong>绑定交易账号</strong>
    <span class="current"><i>1</i> 绑定交易账号</span><span><i>2</i> 绑定状态</span>
    </nav>
    <div class="bindaccountbox">
      <div class="entercode">
        <%= form_for @trading_account || TradingAccount.new, url: broker_accounts_path(@broker.name), method: :post do |f| %>
          <%=f.text_field :broker_no, class: 'large', width: 330, placeholder: '请输入资金账号：Uxxxxxx' %> &nbsp;
          <br/>
          <%=f.text_field :password, class: 'large', width: 330, placeholder: '请输入密码' %> &nbsp;
          <br/>
          <%= f.submit "绑定", class: 'b_btn btn_attend'%>
          <br />
          
          <% if @trading_account && @trading_account.errors.present? %>
            <span class="errorTip" style="display:block;">&nbsp;<%=@trading_account.errors[:verify].try(:first)%></span>
          <% else %>
            <span class="errorTip" style="display:none;">&nbsp;</span>
          <% end %>
        <% end %>

      </div>
    </div>
  </div>
</div>

<script>
  $(function(){
    $('form').submit(function(){
      var brokerNo = $("input[name='trading_account[broker_no]']").val();
      var brokerPassword = $("input[name='trading_account[password]']").val();

      if($.trim(brokerNo).length == 0 || $.trim(brokerPassword).length == 0){
        $('.errorTip').text('账号和密码不能为空').show();
        return false;
      }else{
        return true;
      }

    })
  })
</script>
