<div class="state <%= up_or_down_class(@stock.percent_change_from_previous_close) %>">
  <label><%= link_to "", mobile_link("/") %><%= @stock.c_name %><span><%= @stock.symbol %></span><span><%= @stock.market_status %> <%= @stock.trade_time_str.split(" ").last rescue nil %></span></label>
  <table>
    <tr>
      <td colspan="2" class="price"><%= @stock.realtime_price %></td>
      <th>今开<i><%= format_number(@stock.open) %></i></th>
      <th>昨收<i><%= format_number(@stock.previous_close) %></i></th>
    </tr>
    <tr>
     <th class="price"><%= format_number(@stock.change_from_previous_close) %></th>
     <th class="price"><%= up_down_value(@stock.percent_change_from_previous_close, postfix: '%', with_arrow: false, operator: true) %></th>
     <th>成交量<i data-suffix=""><%= humanlize_number(@stock.pretty_lastest_volume) %><%= @stock.pretty_volume_unit %></i></th>
      <th>换手率<i data-suffix="%"><%= format_number(@stock.turnover_rate) %></i></th>
    </tr>
  </table>
  <table>
    <tr>
      <th>最高</th>
      <td><%= format_number(@stock.high) %></td>
      <th>最低</th>
      <td><%= format_number(@stock.low) %></td>
      <th>成交额</th>
      <td><i><%= humanlize_capitalization(@stock.turnover) %></i></td>
    </tr>
    <tr>
      <th>市盈率</th>
      <td><%= format_number(@stock.adj_pe_ratio) %></td>
      <th>市净率</th>
      <td><%= format_number(@stock.net_asset_rate) %></td>
      <th>总市值</th>
      <td><i data-suffix=""><%= humanlize_capitalization(@stock.market_capitalization)%></i></td>
    </tr>
    <tr>
      <th>振幅</th>
      <td><i data-suffix="%"><%= format_number(@stock.amplitude.nan? ? 0.0 : @stock.amplitude) %></i></td>
      <th>每股收益</th>
      <td><%= @stock.eps.nil? ? '--' : format_number(@stock.eps) %></td>
      <th>流通市值</th>
      <td><i data-suffix=""><%= humanlize_capitalization(@stock.non_restricted_market_capitalization) %></i></td>
    </tr>
  </table>
</div>