<div class="state <%= up_or_down_class(@stock.percent_change_from_previous_close) %>">
  <label><%= link_to "", mobile_link("/") %><%= @stock.c_name %><span><%= @stock.symbol %></span><span><%= @stock.market_status %> <%= @stock.trade_time_str.split(" ").last rescue  nil %></span></label>
  <table>
    <tr>
      <td colspan="2" class="price"><%= @stock.realtime_price.round(2) %></td>
      <th></th>
      <th></th>
    </tr>
    <tr>
     <th class="price"><%= format_number(@stock.change_from_previous_close) %></th>
     <th class="price"><%= up_down_value(@stock.percent_change_from_previous_close, postfix: '%', with_arrow: false, operator: true) %></th>
      <th>今开<i><%= format_number(@stock.open) %></i></th>
      <th>昨收<i><%= format_number(@stock.previous_close) %></i></th>
    </tr>
  </table>
  <table>
    <tr>
      <th>最高</th>
      <td><%= format_number(@stock.high) %></td>
      <th>最低</th>
      <td><%= format_number(@stock.low) %></td>
      <th>振幅</th>
      <td><i data-suffix="%"><%= format_number(@stock.amplitude) %></i></td>
    </tr>
    <tr>
      <th>52周高</th>
      <td><%= format_number(@stock.high52_weeks) %></td>
      <th>52周低</th>
      <td><%= format_number(@stock.low52_weeks) %></td>
      <th>成交额</th>
      <td><%= humanlize_capitalization(@stock.turnover) %></i></td>
    </tr>
  </table>
</div>