<h1 class="title">
  <span class="title_left">Order detail详情页面</span>
  <span class="title_right">
    <%= link_to "编辑", [:edit, :admin, @order_detail], style: "margin-right: 10px;" %>
    <%= link_to "返回列表", admin_order_details_path %>
  </span>
</h1>

<table class="grid_form">
  <tbody>
    <tr>
      <td class="field">Id</td>
      <td>
        <%= @order_detail.id %>
      </td>
    </tr>
    <tr>
      <td class="field">Order</td>
      <td>
        <%= @order_detail.order_id %>
      </td>
    </tr>
    <tr>
      <td class="field">Instance</td>
      <td>
        <%= @order_detail.instance_id %>
      </td>
    </tr>
    <tr>
      <td class="field">Base stock</td>
      <td>
        <%= @order_detail.base_stock_id %>
      </td>
    </tr>
    <tr>
      <td class="field">User</td>
      <td>
        <%= @order_detail.user_id %>
      </td>
    </tr>
    <tr>
      <td class="field">Basket</td>
      <td>
        <%= @order_detail.basket_id %>
      </td>
    </tr>
    <tr>
      <td class="field">Est shares</td>
      <td>
        <%= @order_detail.est_shares %>
      </td>
    </tr>
    <tr>
      <td class="field">Real shares</td>
      <td>
        <%= @order_detail.real_shares %>
      </td>
    </tr>
    <tr>
      <td class="field">Est cost</td>
      <td>
        <%= @order_detail.est_cost %>
      </td>
    </tr>
    <tr>
      <td class="field">Real cost</td>
      <td>
        <%= @order_detail.real_cost %>
      </td>
    </tr>
    <tr>
      <td class="field">Status</td>
      <td>
        <%= @order_detail.status %>
      </td>
    </tr>
    <tr>
      <td class="field">Symbol</td>
      <td>
        <%= @order_detail.symbol %>
      </td>
    </tr>
    <tr>
      <td class="field">Ib order</td>
      <td>
        <%= @order_detail.ib_order_id %>
      </td>
    </tr>
    <tr>
      <td class="field">Created at</td>
      <td>
        <%= @order_detail.created_at %>
      </td>
    </tr>
    <tr>
      <td class="field">Updated at</td>
      <td>
        <%= @order_detail.updated_at %>
      </td>
    </tr>
    <tr>
      <td class="field">Trade type</td>
      <td>
        <%= @order_detail.trade_type %>
      </td>
    </tr>
    <tr>
      <td class="field">Trade time</td>
      <td>
        <%= @order_detail.trade_time %>
      </td>
    </tr>
    <tr>
      <td class="field">Order type</td>
      <td>
        <%= @order_detail.order_type %>
      </td>
    </tr>
    <tr>
      <td class="field">Limit price</td>
      <td>
        <%= @order_detail.limit_price %>
      </td>
    </tr>
    <tr>
      <td class="field">Updated by</td>
      <td>
        <%= @order_detail.updated_by %>
      </td>
    </tr>
    <tr>
      <td class="field">Commission</td>
      <td>
        <%= @order_detail.commission %>
      </td>
    </tr>
    <tr>
      <td class="field">Background</td>
      <td>
        <%= @order_detail.background %>
      </td>
    </tr>
    <tr>
      <td class="field">Average cost</td>
      <td>
        <%= @order_detail.average_cost %>
      </td>
    </tr>
    <tr>
      <td class="field">Market</td>
      <td>
        <%= @order_detail.market %>
      </td>
    </tr>
    <tr>
      <td class="field">Currency</td>
      <td>
        <%= @order_detail.currency %>
      </td>
    </tr>
    <tr>
      <td class="field">Cash</td>
      <td>
        <%= @order_detail.cash_id %>
      </td>
    </tr>
    <tr>
      <td class="field">Trading account</td>
      <td>
        <%= @order_detail.trading_account_id %>
      </td>
    </tr>
    <tr>
      <td class="field">Rt order</td>
      <td>
        <%= @order_detail.rt_order_id %>
      </td>
    </tr>
    <tr>
      <td class="field">Result</td>
      <td>
        <%= @order_detail.result %>
      </td>
    </tr>
  </tbody>
</table>
