<h1 class="title">
  <span class="title_left">聚源行业列表页(申万2014版)</span>
  <span class="title_right">
    <%#= link_to "新建Jy industry", new_admin_jy_industry_path %>
  </span>   
</h1>

<%= notice_tag -%>

<div class="box">
  <%= search_form_for @q, url: admin_jy_industries_path, class: 'form-inline', role: 'form' do |f| -%>
    <%= f.text_field :code_eq, :placeholder => '编码', class: 'form-control' %>
    <%= f.text_field :name_cont, :placeholder => '名称', class: 'form-control' %>
    <%= f.text_field :level_eq, :placeholder => '级别', class: 'form-control' %>
    <%= f.submit '搜索', :class => 'btn btn-primary', :style => 'width:5%;' %>
  <% end -%>
</div>

<div class="page_info">
  总数： <b><%= @jy_industries.total_entries %></b>
</div>

<table class="grid">
  <thead>
    <tr>
      <th>Id</th>
      <th>名称</th>
      <th>编码</th>
      <th>级别</th>
      <th>创建时间</th>
      <th>更新时间</th>
      <th colspan="3">操作</th>
    </tr>
  </thead>
  <tbody>
  
  <% @jy_industries.each do |jy_industry| %>
    <tr>
      <td><%= jy_industry.id %></td>
      <td class="align_left"><%= jy_industry.name %></td>
      <td><%= jy_industry.code %></td>
      <td><%= jy_industry.level %></td>
      <td><%= jy_industry.created_at %></td>
      <td><%= jy_industry.updated_at %></td>
      <td class="action"><%= link_to '详情', [:admin, jy_industry] %></td>
      <td class="action"><%= link_to '编辑', [:edit, :admin, jy_industry] %></td>
    </tr>
  <% end %>
 
  </tbody>
</table>

<%= will_paginate @jy_industries %>
