<h1 class="title">
  <span class="title_left">修改封面图</span>
</h1>
<table class="grid_form">
  <tr>
    <td class="field">组合:</td>
    <td><%= link_to @basket.title, basket_path(@basket), target: '_blank' %></td>
  </tr>
  <tr>
    <td class="field">状态:</td>
    <td><%= @basket.state_desc %></td>
  </tr>
  <tr>
    <td class="field">作者:</td>
    <td><%= @basket.author.try(:username) %></td>
  </tr>
  <tr>
    <td class="field">组合配图</td>
    <td>
      <%=image_tag @basket.img_url(:small), style: 'width:209px;height:167px;' %>
      <input type="button" class="btn btn-primary" value="上传图片" onclick="javascript:$('#real_avatar').trigger('click');" />
      <%=form_for @basket, url: save_img_admin_basket_path(@basket), method: :put, html: {target: 'curform', class: 'real-file'} do |f|%>
        <%= f.file_field :img, id: 'real_avatar', name: 'basket[img]', accept: 'image/png, image/git,image/jpeg,image/bmp' %>
      <% end %>
    </td>
  </tr>
</table>

<div id="FloatWindow">
  <div class="FloatContent width640">
    <i class="close-window" onclick="javascript:window.location.reload();"></i>
    <div class="header">
      <h2>剪裁图片</h2>
    </div>
    <%=form_for @basket, url: crop_pic_admin_basket_path(@basket), method: :put, remote: true do |f|%>
      <% %w(x y w h).each do |attribute| %>
        <%= f.hidden_field "crop_#{attribute}", id: "basket_crop_#{attribute}", name: "basket[crop_#{attribute}]" %>
      <% end %>

      <div class="textbody center">
      </div>
      <div class="footer">
        <%=f.submit '确定', class: 'btn btn-primary'%>
      </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $(function(){
    // iframe 不刷新提交文件
    $("#real_avatar").change(function(){
      var currentForm = $(this).parents("form");
      if($("iframe[name='curform']").length > 0){
        var thisIframe = $("iframe[name='curform']");
      }else{
        var thisIframe = $("<iframe style='opacity:0;_filter:alpha(opacity=0)'></iframe>").attr("name",currentForm.attr("target"));
      }
    
      $(currentForm).after(thisIframe);
      $(currentForm).submit();
      $("#real_avatar").val("");
      showCropModal();
    });
  })

// 显示裁剪框
var showCropModal = function(){
  $('#FloatWindow').fadeIn();
  $('#FloatWindow .FloatContent').slideDown();
  $('body').addClass('fixed');
}

function hideCropModal(){
  $('#FloatWindow').fadeOut();
  $('#FloatWindow .FloatContent').slideUp();
  $('body').removeClass('fixed');
}

// 设置裁剪坐标
var updateBasketCoordinate = function(c){
  if (parseInt(c.w) > 0){
    $('#basket_crop_x').val(c.x);
    $('#basket_crop_y').val(c.y);
    $('#basket_crop_w').val(c.w);
    $('#basket_crop_h').val(c.h);
  }
}

// @Jcrop 初始化
var BasketJcropInit = function(){
  var jcrop_api, boundx, boundy;
  var y_div_x = 0.8;

  $('#cropbox').Jcrop({
    onChange: updateBasketCoordinate,
    onSelect: updateBasketCoordinate,
    aspectRatio: 1.25
  },function(){
    var bounds = this.getBounds();
    boundx = bounds[0];
    boundy = bounds[1];
    jcrop_api = this;
    if(boundx >= boundy/y_div_x){
      bound_length = boundy - 30;
      pointer_x = (boundx - bound_length/y_div_x) / 2;
      jcrop_api.setSelect([pointer_x, 15, bound_length/y_div_x + pointer_x, bound_length + 15]);
    }else{
      bound_length = boundx - 30;
      pointer_y = (boundy - bound_length*y_div_x) / 2;
      jcrop_api.setSelect([15, pointer_y, bound_length + 15, bound_length*y_div_x + pointer_y]);
    }
  });
};

</script>