<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>常见问题及解答</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <%= stylesheet_link_tag "/stylesheets/mobile/mo.ifaq.css" %>
    <%= javascript_include_tag "/javascripts/jquery-1.11.1.min.js" %>
  </head>
  <body>
    <hgroup class="title">
      <h1>常见问题以及解答</h1>
    </hgroup>
    <div class="menu"><a href="#about">关于财说<i></i>操盘</a><a href="#security">财说<i></i>操盘的安全保障</a><a href="#authbind">实名认证与绑定手机</a><a href="#bank">银行账户绑定与提现</a><a href="#other">其他常见问题</a></div>
    <section class="helps">
      <article id="about">
        <h1>关于财说<i></i>操盘</h1>
        <h2>1. 什么是财说<i></i>操盘</h2>
        <p>财说<i></i>操盘是财说针对炒股用户推出的收益挂钩各类指数的产品。</p>
        <h2>2. 财说<i></i>操盘的优势是什么</h2>
        <p>财说<i></i>操盘是一种创新的投资方式，在保证本金安全的前提下，把固定收益产品和期权期货产品等金融衍生品按一定比例进行组合，以达到既保证有一定的固定收益，又能博取股票／指数的高收益。保底收益和浮动收益。保底收益和挂钩指数无关，浮动收益根据所挂钩的指数涨跌幅计算而来。</p>
        <h2>3. 财说<i></i>操盘的收益是如何计算的</h2>
        <p>挂钩指数的浮动回报 ＝（结束日的指数收盘价 － 起息日前一天指数收盘价）／起息日前一天的指数收盘价。</p>
        <div>
          <p>举例：</p>
          <p>看涨指数时，如果挂钩指数是沪深300，起息日是2015/10/01，结束日是2015/10/30。沪深300指数2015/09/30的收盘价是3202.95，结束日2015/10/30的收盘价是3534.08。</p>
          <p>指数回报＝（3534.08-3202.95）／3202.95 ＝ 10.34％</p>
          <p>对应的看涨指数产品年化收益＝基本收益＋10.34％</p>
        </div>
      </article>
      <article id="security">
        <h1>财说<i></i>操盘的安全保障</h1>
        <h2>1. 财说<i></i>操盘是如何控制风险保障利益的</h2>
        <p>财说<i></i>操盘秉承分散、分层的投资理念，选择与专业机构合作，严选多重资产投资方式，根据行业发展灵活调整各种资产配置比例，有效的应对市场风险和行业风险。</p>
        <h2>2. <i></i>操盘如何保障用户资金的安全</h2>
        <p>首先，财说上所有的个人信息都经过加密处理，防止任何人包括公司员工获取用户个人信息。您的信息会按照《财说服务协议》中的规定被严格保护。</p>
        <p>为了保证用户交易的资金安全，我们采用顶级安全技术，使用多重保护技术，通过加密代码阻止反编译，从而防止被盗取、篡改代码，防止用户使用被篡改的客户端而造成资金损失。</p>
      </article>
      <article id="authbind">
        <h1>实名认证与绑定手机</h1>
        <h2>1. 为什么财说<i></i>操盘要进行实名认证？</h2>
        <p>首先，身份证号是投资者在财说的最重要的凭证，每个真实投资者有且只有一个认证过的财说账号，并凭借此账号享受财说的一切服务；其次，为保障资金安全防止资金被盗，在提现时，系统仅允许投资者提现至和实名认证相同的身份证下开具的银行卡。</p>
        <h2>2. 实名认证信息是否可以修改</h2>
        <p>为了保障账户安全，目前我们暂时不支持自主修改实名认证信息，您可联系我们的客服人员并提供相关资料，由客服给您进行修改。24小时客服电话：400-771-8858</p>
        <h2>3. 实名认证信息是否可以修改</h2>
        <p>目前财说APP暂时无法修改绑定手机，请您登录财说官方网站http://www.caishuo.com修改已绑定手机，具体操作步骤如下：</p>
        <p>1）登录财说：您可以使用注册手机、微信和QQ等登录财说，这个步骤与您使用财说APP登录一样便捷。<%= image_tag "/images/mobile/ifaq-1.jpg" %></p>
        <p>2）成功登录之后，点击您的头像，找到账户设置<%= image_tag "/images/mobile/ifaq-2.jpg" %></p>
        <p>3）选择账号绑定—修改绑定手机号即可，修改后会实时同步到您的财说APP<%= image_tag "/images/mobile/ifaq-3.jpg" %></p>
        <h2>4. 为什么一直收不到验证码</h2>
        <p>如果您没有立即收到短信验证码，请耐心等待 60秒 ；</p>
        <p>如果填入验证码显示错误，建议刷新页面再次获取验证码；如果继续报错需要退出账户，请您重新登录。</p>
        <p>如无法解决也可拨打客服电话：400-771-8858 解决。</p>
      </article>
      <article id="bank">
        <h1>银行账户绑定与提现</h1>
        <h2>1. 为什么一定要使用本人名下的银行卡</h2>
        <p>在提现时，系统仅允许投资者提现至和实名认证相同的身份证下开具的银行卡，这将极大的降低资金被他人窃取的风险。</p>
        <h2>2. 目前财说<i></i>操盘支持的银行卡都有哪些</h2>
        <p>目前财说<i></i>操盘支持的银行包括：工商银行，建设银行，中国银行，农业银行，光大银行，民生银行，平安银行，邮储银行。</p>
        <h2>3. 同一个账户可以使用几张银行卡？</h2>
        <p>目前财说<i></i>操盘支付时只能使用一张银行卡，但是在支付时您可以更改成其他属于您名下的银行卡。</p>
        <h2>4. 能否随时解绑银行卡</h2>
        <p>目前还暂不支持解绑银行卡，我们的技术人员正在加紧研发此功能，还请您耐心等待。</p>
        <h2>5. 产品到期如何提现，大概多久可以到帐？</h2>
        <p>产品到期后无需用户操作，系统会在2个工作日内将本金和收益自动返款到用户投资时第一次使用的银行卡。但是由于各个银行的入账时间长短不一致，所以具体的到帐时间，还要以银行到账短信为准，没有开通到账短信提醒的用户请自行到银行流水明细中查看。</p>
        <h2>6. 提现是否有手续费？</h2>
        <p>目前不论您是在财说<i></i>操盘投资还是提现，都不收取手续费。</p>
        <h2>7. 为什么会提现失败？</h2>
        <p>提现失败可能是与银行之间的通信出现暂时的网络故障，请您耐心等待片刻刷新再试，如果依旧提示失败，请联系我们的客服电话：400-771-8858</p>
      </article>
      <article id="other">
        <h1>其他常见问题</h1>
        <h2>1. 财说的投资产品是否可以退款？</h2>
        <p>从您投资后到开始计算收益起，暂不支持退款。</p>
        <h2>2. 为什么我的投资状态一直显示购买中</h2>
        <p>有可能是网络通信出现了故障。如果遇到这种情况，请拨打客服 400-771-8858 由客服人员为您处理。</p>
        <h2>3. 为什么银行显示已经扣款，但是投资结果却显示交易进行中？</h2>
        <p>这是非常罕见的情况，是与银行之间的通信出现暂时的网络故障。如果遇到这种情况，请拨打客服 400-771-8858 由客服人员为您处理。</p>
      </article>
    </section>
  </body>
  <script type="text/javascript">
    var showArticle = function(){
      var id = location.hash;
      $('body').toggleClass('article', !!id);
      id && $(id).show().siblings().hide();
    }
    $(window).bind('hashchange', showArticle).bind('load', showArticle);
  </script>
</html>
