<%= form_for [:admin, @broker]  do |f|%>
  <table class="grid_form">
    <tbody>
      <tr>
        <td class="field"><b>*</b>名称:</td>
        <td>
          <%= f.text_field :name, :size=>30 %>
        </td>
      </tr>
      <tr>
        <td class="field"><b>*</b>中文名称:</td>
        <td>
          <%= f.text_field :cname, :size=>30 %>
        </td>
      </tr>
      <tr>
        <td class="field"><b>*</b>状态:</td>
        <td>
          <%= f.select :status, Broker::STATUSES.map{|name| [name, name]}, {class: "form-control"} %>
        </td>
      </tr>
      <tr>
        <td class="field"><b>*</b>MasterAccount:</td>
        <td>
          <%= f.text_field :master_account, :size=>30 %>
        </td>
      </tr>
      <tr>
        <td class="field"><b>*</b>列表显示:</td>
        <td>
          <%= f.check_box :display, {}, true, false %>
        </td>
      </tr>
      <tr>
        <td class="field"><b>*</b>地区市场:</td>
        <td>
          国内：<%= f.radio_button("market", "cn")%>&nbsp;&nbsp;
          港股美股：<%= f.radio_button("market", "hk,us")%>
        </td>
      </tr>
      <tr>
        <td class="field"></td>
        <td>
          <%= f.submit params[:action] == "edit" ? "修改" : "创建" %>
        </td>
      </tr>
     </tbody>
  </table>
<% end -%>
