<h1 class="title">
 <span class="title_left"><%=@page_title%></span>
 <span class="title_right">
  <a href="/admin/aces">返回</a>
  </span>
</h1>
<%= form_tag "/admin/aces/update_all", method: "PUT" do %>
  <table class="grid">
    <thead>
      <tr>
        <th>id</th>
        <th>用户id</th>
        <th>展示类型</th>
        <th>标签</th>
        <th>组合id</th>
      </tr>
    </thead>
    <tbody>
      <% @aces.each_with_index do |ace, i| %>
        <tr>
          <td><%= i+1 %><%= hidden_field_tag "ace[][id]", i+1 %></td>
          <td>
            <%= text_field_tag "ace[][user_id]", ace.user_id %>
          </td>
          <td>
            <%= select_tag "ace[][value_type]", options_for_select(Ace::VALUE_TYPE, ace.value_type) %>
          </td>
          <td>
            <%= text_field_tag "ace[][tag]", ace.tag %><br/>
          </td>
          <td>
            <%= text_field_tag "ace[][basket_id]", ace.basket_id %><br/>
          </td>
        </tr>
      <% end %>
      <tr>
        <td colspan="4"><%= submit_tag "确定" %><br/></td>
      <tr>
    </tbody>
  </table>
<% end -%>
