<h1 class="title">
  <span class="title_left"><%=@page_title%></span>
</h1>
<div class="box">
  <a href="/admin/es/announcements" class="<%= params[:site].blank? ? 'current' : '' %>">全部</a>
  <% @sources.each do |source| %>
    <a href="/admin/es/<%= source['term'] %>/announcements" class="<%= params[:site] == source ? 'current' : ''  %>"><%= "#{source['term']} (#{source['count']})" %></a>
  <% end %>
</div>
<div class="box">
  <%= form_tag admin_es_announcements_path, method: :get do -%>
    <%= text_field_tag :q, nil, placeholder: '全文检索' %>
    <%= submit_tag '搜索' %>
  <% end -%>
</div>

<%= page_info(@announcements) %>
<table class="grid">
  <thead>
    <tr>
        <th>ID</th>
        <th width='60%'>标题</th>
        <th>来源</th>
        <th>公布时间</th>
        <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <% @announcements.each do |announcement| %>
      <tr>
        <td width="200" class="align_left"><%= link_to announcement.id, announcement.url %></td>
        <td class="align_left"><%= link_to highlighted(announcement, :title), announcement.url %></td>
        <td><%= announcement.source %></td>
        <td><%= announcement.pub_date.to_time.strftime("%m-%d %H:%M") %></td>
        <td class="action">
          <%= link_to "修改", [:edit, :admin, announcement] %>
        </td>
      </tr>
    <% end -%>
  </tbody>
</table>
<%= will_paginate @announcements %> 
