<%=content_for :header do %>
  <%= stylesheet_link_tag "/stylesheets/v3/userEdit.css" %>
<% end %>

<div class="container userEdit clearfix">
  <%=render partial: 'shared/setting_left_box'%>
	
	<div class="rightBox">
		<h2>修改密码</h2>
		<p>上次登录： <%= current_user.last_sign_in_at.to_s %> <%= current_user.last_sign_in_ip %></p>
    <%=form_for current_user, url: account_user_path, method: :put, remote: true, html: {id: 'update_password_form'} do |f| %>
  		<dl class="password">
        <% if current_user.encrypted_password.blank? %>
          <%=f.password_field :current_password, value: "***", style: "display: none;" %>
        <% else %>
          <dd>
            <%=f.password_field :current_password, autocomplete: :off, placeholder: "当前密码" %>
          </dd>
        <% end %>
  			<dd>
          <%= f.password_field :password, placeholder: "新密码" %>
        </dd>
  			<dd>
          <%= f.password_field :password_confirmation, placeholder: "确认密码" %>
        </dd>
  			<dd>
          <%= f.submit '保存', class: 'b_btn dialog_btn_y'%>  
        </dd>
  		</dl>
    <% end %>
	</div>
</div>
