<tr>
  <td><%= cash["business_date"] %></td>
  <td><%= cash["business_name"] %></td>
  <td><%= cash["occur_balance"] %></td>
  <td><%= cash["post_balance"] %></td>
  <td><%= cash["money_type"] %></td>
  <td><%= cash["serial_no"] %></td>
  <td><%= cash["position_str"] %></td>
</tr>