<tr>
  <td><%= execution["entrust_bs"] %></td>
  <td><%= execution["exchange_type"] %></td>
  <td><%= execution["stock_code"] %></td>
  <td><%= execution["stock_name"] %></td>
  <td><%= execution["business_time"] %></td>
  <td><%= execution["business_no"] %></td>
  <td><%= execution["business_balance"] %></td>
  <td><%= execution["entrust_no"] %></td>
  <td><%= execution["init_date"] %></td>
  <td><%= execution["stock_account"] %></td>
  <td><%= execution["business_price"] %></td>
  <td><%= execution["occur_amount"] %></td>
  <td><%= execution["channel"] %></td>
</tr>