<tr>
  <td><%= order["entrust_bs"] %></td>
  <td><%= order["exchange_type"] %></td>
  <td><%= order["stock_code"] %></td>
  <td><%= order["stock_name"] %></td>
  <td><%= order["entrust_status"] %></td>
  <td><%= order["business_amount"] %></td>
  <td><%= order["entrust_amount"] %></td>
  <td><%= order["entrust_price"] %></td>
  <td><%= order["commission"] %></td>
  <td><%= order["entrust_no"] %></td>
  <td><%= order["stock_account"] %></td>
  <td><%= order["entrust_date"] %></td>
  <td><%= order["entrust_time"] %></td>
  <td><%= order["channel"] %></td>
</tr>