<h1 class="title">
 <span class="title_left"><%=@page_title%></span>
  <span class="title_right">
    <%= link_to "返回列表", admin_trading_accounts_path %>
  </span>
</h1>

<div class="box">
  <% 
    start_date = params[:start_date]||(Date.today-30).to_s(:db)
    end_date = params[:end_date]||Date.today.to_s(:db)
    position_str = @data.last.try(:[], 'position_str')
  %>
  <%= form_tag request.path, method: :get, class: "form-inline", role: "form" do |f| %>
    <%= text_field_tag :start_date, start_date, :placeholder => "开始时间", class: "datetimepicker", "data-date-format" => "yyyy-MM-dd" %>
    <%= text_field_tag :end_date, end_date, placeholder: "结束时间", class: "datetimepicker", "data-date-format" => "yyyy-MM-dd" %>
    <%= submit_tag "搜索", :class => "btn btn-primary",:style => "width:5%;" %>
  <% end %>
</div>

<table class="grid">
  <thead>
    <tr>
      <td>买卖方向</td>
      <td>市场类别</td>
      <td>证券代码</td>
      <td>证券名称</td>
      <td>委托状态</td>
      <td>成交数量</td>
      <td>委托数量</td>
      <td>委托价格</td>
      <td>手续费</td>
      <td>委托编号</td>
      <td>证券账号</td>
      <td>委托日期</td>
      <td>委托时间</td>
      <td>来源</td>
    </tr>
  </thead>
  <tbody id='history'>
    <%= render partial: 'order', collection: @data %>
  </tbody>
  <tbody>
    <tr>
    <% if position_str && @data.size == 1000 %>
      <td id="more" class="enabled" colspan="13" data-position_str="<%= position_str %>" data-start_date="<%= start_date %>" data-end_date="<%= end_date %>">更多</td>
    <% end %>
    </tr>
  </tbody>
</table>
<script type="text/javascript">
  $(function(){
    $('#more.enabled').click(function(){
      $(this).removeClass('enabled');
      $.ajax({
        url: location.href,
        dataType: 'script',
        data: {
          position_str: $(this).data('position_str')
        }
      }).done(function() {
        $('#more').addClass('enabled');
      });
    })
  })
</script>