<h1 class="title">
  <span class="title_left">Historical quote retry详情页面</span>
  <span class="title_right">
    <%= link_to "编辑", [:edit, :admin, @historical_quote_retry], style: "margin-right: 10px;" %>
    <%= link_to "返回列表", admin_historical_quote_retries_path %>
  </span>
</h1>

<table class="grid_form">
  <tbody>
    <tr>
      <td class="field">Id</td>
      <td>
        <%= @historical_quote_retry.id %>
      </td>
    </tr>
    <tr>
      <td class="field">Base stock</td>
      <td>
        <%= @historical_quote_retry.base_stock_id %>
      </td>
    </tr>
    <tr>
      <td class="field">Date</td>
      <td>
        <%= @historical_quote_retry.date %>
      </td>
    </tr>
    <tr>
      <td class="field">Trading date</td>
      <td>
        <%= @historical_quote_retry.trading_date %>
      </td>
    </tr>
    <tr>
      <td class="field">Number</td>
      <td>
        <%= @historical_quote_retry.number %>
      </td>
    </tr>
    <tr>
      <td class="field">Created at</td>
      <td>
        <%= @historical_quote_retry.created_at %>
      </td>
    </tr>
    <tr>
      <td class="field">Updated at</td>
      <td>
        <%= @historical_quote_retry.updated_at %>
      </td>
    </tr>
  </tbody>
</table>
