<h1 class="title">
  <span class="title_left">股票行业列表页</span>
  <span class="title_right">
    <%#= link_to "新建Stock industry", new_admin_stock_industry_path %>
  </span>   
</h1>

<%= notice_tag -%>

<div class="box">
  <%= search_form_for @q, url: admin_stock_industries_path, class: 'form-inline', role: 'form' do |f| -%>
    <%= f.text_field :base_stock_id_eq, :placeholder => '股票内部ID', class: 'form-control' %>
    <%= f.text_field :second_industry_code_eq, :placeholder => '二级行业编码', class: 'form-control' %>
    <%= f.text_field :sector_code_eq, :placeholder => '财说行业编码', class: 'form-control' %>
    <%= f.submit '搜索', :class => 'btn btn-primary', :style => 'width:5%;' %>
  <% end -%>
</div>

<div class="page_info">
  总数： <b><%= @stock_industries.total_entries %></b>
</div>

<table class="grid">
  <thead>
    <tr>
      <th>Id</th>
      <th>BaseStockId</th>
      <th>二级行业编码</th>
      <th>二级行业名称</th>
      <th>创建时间</th>
      <th>更新时间</th>
      <th>取消时间</th>
      <th>财说行业编码</th>
      <th>财说行业名称</th>
      <th colspan="3">操作</th>
    </tr>
  </thead>
  <tbody>
  
  <% @stock_industries.each do |stock_industry| %>
    <tr>
      <td><%= stock_industry.id %></td>
      <td><%= stock_industry.base_stock_id %></td>
      <td><%= stock_industry.second_industry_code %></td>
      <td><%= stock_industry.second_industry_name %></td>
      <td><%= stock_industry.created_at %></td>
      <td><%= stock_industry.updated_at %></td>
      <td><%= stock_industry.cancel_date %></td>
      <td><%= stock_industry.sector_code %></td>
      <td><%= Sector::MAPPING[stock_industry.sector_code.to_s] %></td>
      <td class="action"><%= link_to '详情', [:admin, stock_industry] %></td>
      <td class="action"><%= link_to '编辑', [:edit, :admin, stock_industry] %></td>
      <td class="action"><%= link_to '删除', [:admin, stock_industry], method: :delete, data: { confirm: '你确定删除吗?' } %></td>
    </tr>
  <% end %>
 
  </tbody>
</table>

<%= will_paginate @stock_industries %>
