<%= content_for :header do %>
  <%= stylesheet_link_tag "/stylesheets/v3/userEdit.css" %>
<% end %>
<%- @page_title = "交易帮助" -%>
<div class="container userEdit clearfix contactUs">
  <%= render :partial => "left_bar" %>

  <div class="rightBox">
    <h2>开户指引</h2>
    <div class="about_right account_guide">
      <%= render 'account_banner' %>
      <h5>第一步：登录益群证券首页，选择立即开户</h5>
      <div><%= image_tag "/images/v3/help/viewfilea.png" alt: "" %></div>
      <h5>第二步：选择您适用的语言</h5>
      <div>
        <p>我们建议您选择「个人」账户类型</p>
        <%= image_tag "/images/v3/help/viewfileb.png" alt: "" %>
      </div>
      <h5>第三步：设置您登录益群的用户名和密码</h5>
      <div>
        <p>与登录财说的用户名密码不同，这个用户名密码适用于您单独登录益群时使用。</p>
        <p>在财说，您可以完成全部交易流程，无需单独登录益群。只有存入/提取资金，及更改交易账户类型时，您才需要单独登录益群。</p>
        <p>因此，我们建议您妥善保管好益群的登录名和密码，以防长时间后遗忘。</p>
        <%= image_tag "/images/v3/help/viewfilec.png" alt: "" %>
        <h5>填完用户名和密码后，您可能需要等待几分钟，才能进行到下一步</h5>
        <p>这是开户流程中非常重要的一步，但由于网络环境不同，会偶尔遇到延迟，页面加载可能需要1-3分钟，请您耐心等待，尽量不要刷新或退出页面，如果不慎点击“继续完成账户申请”按钮即可。</p>
      </div>
      <h5>第四步：请到您的注册邮箱，获取确认号码</h5>
      <div>
        <p>客户类型请选择「个人」</p>
        <%= image_tag "/images/v3/help/viewfiled.png" alt: "" %>
      </div>
      <h5>第五步：成功创建益群账号，请继续！</h5>
      <div>
        <%= image_tag "/images/v3/help/viewfilee.png" alt: "" %>
      </div>
      <h5>第六步：接下来您需要填写一张重要的表格：W8-BEN表格</h5>
      <div>
        <%= image_tag "/images/v3/help/viewfilef.png" alt: "" %>
        <h5>什么是W8-BEN表格</h5>
        <p>W-8BEN表格，是美国税务局的表格。由开户人填报声明其本人并非美国公民，要求免除美国的相关税项，有效期为三年。 所有非美国公民或实体在开户时必须填写 W-8BEN 表格，向美国国税局确认您外国纳税人身份并申报美国所得税减免。</p>
        <p>重要信息： 如果您是美国绿卡持有者，请勿填写表格W-8BEN，而应填写表格W-9。</p>
        <h5>现金账户、Reg T保证金账户、投资组合保证金账户之间的区别</h5>
        <p>现金账户：账户内持有现金即成为现金账户。</p>
        <p>Reg T保证金账户：申请此账户，您必须年满21周岁或以上，并且您存入账户的现金总值要超过2000美元，可低于25000美元。选择此账户类型，您可以交易更多金融产品。</p>
        <p>投资组合保证金账户：申请此账户，您必须年满21周岁或以上，并且您存入账户的现金总值超过25000美元，即可选择投资组合保证金账户。</p>
        <p>投资组合保证金账户的保证金要求低于RegT保证金账户的保证金要求。然而，对于一个具有集中风险的投资组合而言，投资组合保证金账户的保证金要求可能会大于Reg T保证金账户的保证金要求，因为静态的Reg T计算并未充分考虑投资组合背后真正的经济风险。</p>
        <p>三种账户可以根据您的现金总值情况进行调整，您在任何时候都可以在账户设置中升级或降级账户类型。</p>
      </div>
      <h5>第七步：表格提交后，请核对信息并继续。</h5>
      <div>
        <%= image_tag "/images/v3/help/viewfile_g.png" alt: "" %>
      </div>
      <h5>第八步：注资，选择「稍后注资账户」后，请继续！</h5>
      <div>
        <%= image_tag "/images/v3/help/viewfile_h.png" alt: "" %>
      </div>
      <h5>第九步：接下来，您必须提供两份文件以证明您的身份。</h5>
      <div>
        <p>身份证明：我们建议您使用护照或驾驶执照或港澳通行证作为身份证明（上传首页电子版文件即可）</p>
        <p>住址证明：我们建议您使用身份证作为住址证明（上传正反面电子版文件即可）</p>
        <p>&nbsp;&nbsp;当您没有护照或驾驶执照或港澳通行证的时候，您可以考虑以下这种方式</p>
        <p>&nbsp;&nbsp;身份证明：我们建议您使用身份证作为住址证明（上传正反面电子版文件即可）</p>
        <p>&nbsp;&nbsp;住址证明：您所居住地的生活消费单据，如水、电、煤气等。</p>
        <%= image_tag "/images/v3/help/viewfile_i.png" alt: "" %>
      </div>
      <h5>第十步：请配置您的交易数据，根据您的实际情况，您可以选择非职业用户或职业用户。</h5>
      <div>
        <p>如果您选择职业用户，在订阅职业市场数据的同时，会产生相应费用，请您仔细核对收费项目。所列费用均为月费，账户申请成功后，您可以取消订阅市场数据。</p>
        <%= image_tag "/images/v3/help/viewfile_j.png" alt: "" %>
        <%= image_tag "/images/v3/help/pic1.jpg" alt: "" %>
      </div>
    </div>
  </div>
