<%= content_for :header do %>
  <%= stylesheet_link_tag "/stylesheets/v3/userEdit.css" %>
<% end %>
<%- @page_title = "财说指南" -%>
<div class="container userEdit clearfix contactUs">
    <%= render :partial => "left_bar" %>

    <div class="rightBox">
      <h2>财说指南</h2>
          <div class="about_right">
              <h5>一、关于财说产品</h5>
              <h5>财说头条</h5>
              <p>是基于最新财经新闻和股市行情准备的焦点话题，这些话题囊括了最热议且值得关注和投资的股票。</p>
              <h5>投组合</h5>
              <p>在财说平台用户可以基于多种维度（例如事件或趋势驱动的主题）建立股票组合，在"投组合"页面用户可以通过浏览或搜索方式发现并投资其他用户创建的股票组合。</p>
              <h5>选个股</h5>
              <p>财说平台提供个股独特的个股发现系统，在"投组合"页面用户既可以基于各种条件筛选符合条件的股票，也可以查看个股的基本面信息和交易信息。</p>
              <h5>股票SCORE</h5>
              <p>基于华尔街主流分析方法，根据股票基本面数据对股票进行示意性打分。其中5分为满分，分数越高说明股票基本面数据越优异。</p>
              <h5>财说专栏</h5>
              <p>财说专栏集合了财说原创和财说合作伙伴的文章集合，财说专栏的文章涉及公司个股、热门组合、财说学堂和财报解读等。</p>
              <h5>明星组合</h5>
              <p>财说明星组合是基于组合的内容、收益表现和当前市场关注点综合评价推荐出来的投资组合。</p>
              <br/>
              <h5>二、常见问题</h5>
              <h5>如何下载财说APP？</h5>
              <p>您可以通过网站的下载页<a href="https://www.caishuo.com/app?from=header" target="_blank">下载财说APP</a>
              <p>或者，您也可以扫描下面二维码直接下载</p>
              <img src="https://cdn.caishuo.com/img/qr_417.gif?msg=http://m.caishuo.com/downloads/redirect?channel=" style="width:150px;">
              <h5>财说APP有哪些特色功能？</h5>
              <p>1、首页个性推荐融合全网股市资讯，独有智能买点卖点选股器，实时监控大盘板块和概念板块资金流向</p>
              <p>2、全真各种下单类型模拟A股交易，股票持仓免费享受华尔街风险控制分析</p>

              <h5>无法上传头像？</h5>
              <p>请检查IE版本，目前支持IE8以上版本，若IE版本问题建议升级浏览器或更换浏览器试一下。</p>
              <h5>如何搜索用户？</h5>
              <p>在财说主页上部搜索框中输入用户名称，点击搜索图标进行搜索。</p>
              <h5>如何关注特定用户？</h5>
              <p>搜索到指定用户后点击“关注”按钮</p>
              <h5>如何查找指定股票或组合？</h5>
              <p>在财说主页上部搜索框中输入指定股票或组合名称后点击搜索图标。</p>
              <h5>现在可以交易吗？</h5>
              <p>港股和美股可交易，A股很快就会开通，请随时留意我们的网站以及微博、微信哦～</p>
              <h5>什么是组合投资？</h5>
              <p>传统的组合投资指通过分析实体经济中结构性、周期性及制度性变动趋势，挖掘出对经济变迁具有大范围影响的潜在因素，对受益的行业和公司进行投资。财说组合投资为客户提供了一揽子股票投资的解决方案,一个投资组合股票的选择可以基于热门行业、长期价值、短期事件、量化指标或其他有说服力的观点。</p>
              <h5>组合投资的价值所在</h5>
              <p>财说组合投资帮助投资者转变传统的孤立的个股投资概念，注重了趋势或事件的关联性和逻辑性，帮助用户以全局的视角对投资进行系统性的分析把握。通过财说组合投资，一般投资者可以减少枯燥的个股分析阶段，选择由专业组合投资创建者创建的和获得大众认同的投资组合，更方便的投资自己认同的组合。</p>
              <h5>如何创建自己的组合？</h5>
              <p>在主界面点击投组合>创建组合，输入看好的个股代码或公司名称进行添加创建。</p>
              <%= image_tag "/images/v3/help/viewfile_9.jpg" %>
              <%= image_tag "/images/v3/help/viewfile_4.jpg" %>
              <%= image_tag "/images/v3/help/viewfile_3.jpg" %>
              <h5>如何分享自己创建的组合？</h5>
              <p>自己创建完组合后在右侧作者头像上边有个“分享”，点击可以分享到微博和微信。</p>
              <%= image_tag "/images/v3/help/viewfile_7.jpg" %>
              <h5>如何有效快速的搜索组合？</h5>
              <p>在主界面点击“投组合”可以看到大家创建的组合投资，在左侧有个关键字搜索栏可以进行组合过滤，找到自己需要的投资领域。</p>
              <%= image_tag "/images/v3/help/viewfile_8.jpg" %>
              <h5>为什么组合原有个股配比会改变？</h5>
              <p>主题中个股的配比=单个股票的市值/该主题一揽子股票的市值，由于每天每支股票的价格都在变化，因此前述等式中分子分母都会变化，进而导致个股配比的变化。</p>
          </div>
    </div>
</div>
