<div class="item">
  <table>
    <tr>
      <th class="logo">
        <%=image_tag "/images/v3/trader/#{broker_logo_name(account.broker.name)}.png", alt: account.broker.cname%>

        <label>客户编号：#<%=account.broker_no%> 授权成功</label>
      </td>
      <td>
        <div class="stepProgress">
          <div class="widget"></div>
          <span class="step1 active">
            <i>1</i>
            <label>
              <em>授权申请<%=account.created_at.strftime("%Y/%m/%d")%></em>
            </label>
          </span>
          <span class="step2 active">
            <i>2</i>
            <label>
              <em>审核通过<%= account.audited_date %></em>
            </label>
          </span>
          <span class="step3 active">
            <i>3</i>
            <label>
              <em>授权成功<%= account.actived_date %></em>
            </label>
          </span>
        </div>
      </td>
      <th class="button">
        <% if account.cancelable? %>
          <a href="javascript:void(0)" onclick="cancelAuth('<%=account.pretty_id%>','<%=account.broker.cname%>')" class="b_btn dialog_btn_c">解除授权</a>
        <% end %>
      </th>
    </tr>
  </table>
</div>
