<h1 class="title">
 <span class="title_left"><%=@page_title%></span>
 <span class="title_right">
  <a href="/admin/panels">返回</a>
  </span>
</h1>
<%= form_tag "/admin/panels/update_all", method: "PUT" do %>
  <table class="grid">
    <thead>
      <tr>
        <th>id</th>
        <th>标题</th>
        <th>类型</th>
        <th>类型对象id</th>
      </tr>
    </thead>
    <tbody>
      <% @panels.each_with_index do |panel, i| %>
        <tr>
          <td><%= i+1 %><%= hidden_field_tag "panel[][id]", i+1 %></td>
          <td>
            <%= text_field_tag "panel[][title]", panel.title %>
          </td>
          <td>
            <%= select_tag "panel[][type]", options_for_select(Panel::TYPE, panel.type) %>
          </td>
          <td>
            <%= text_field_tag "panel[][obj_id]", panel.obj_id %><br/>
          </td>
        </tr>
      <% end %>
      <tr>
        <td colspan="4"><%= submit_tag "确定" %><br/></td>
      <tr>
    </tbody>
  </table>
<% end -%>
