<h1 class="title">
  <span class="title_left"><%= @page_title %></span>
  <span class="title_right">
    <%= link_to "编辑", [:edit, :admin, @source], style: "margin-right: 10px;" %>
    <%= link_to "返回列表", admin_md_source_spider_news_sources_path %>
  </span>
</h1>

<table class="grid_form">
  <tbody>
    <tr>
      <td class="field"><%= I18n.t('activerecord.attributes.source.id') %></td>
      <td>
        <%= @source.id %>
      </td>
    </tr>
    <tr>
      <td class="field"><%= I18n.t('activerecord.attributes.source.user_id') %></td>
      <td>
        <%= @source.user_id %>
      </td>
    </tr>
    <tr>
      <td class="field"><%= I18n.t('activerecord.attributes.source.contest_id') %></td>
      <td>
        <%= @source.contest_id %>
      </td>
    </tr>
    <tr>
      <td class="field"><%= I18n.t('activerecord.attributes.source.original_money') %></td>
      <td>
        <%= humanlize_number @source.original_cash %>
      </td>
    </tr>
    <tr>
      <td class="field"><%= I18n.t('activerecord.attributes.source.status') %></td>
      <td>
        <%= @source.status %>
      </td>
    </tr>
    <tr>
      <td class="field">券商账号</td>
      <td>
        <%= @source.trading_account.try(:broker_no) %>
      </td>
    </tr>
    <tr>
      <td class="field">交易账号</td>
      <td>
        <%= @source.trading_account.try(:cash_id) %>
      </td>
    </tr>
    <tr>
      <td class="field">创建时间</td>
      <td>
        <%= @source.created_at %>
      </td>
    </tr>
  </tbody>
</table>
