<header>
  <div class="container">
    <div class="SiteMenu">
      <a id="SiteLogo" href="/" class="j_event_tracking" data-ga-category="LandingPage" data-ga-action="NavHome">财说</a>
      <a href="<%= topics_path %>" class="j_event_tracking" data-ga-category="LandingPage" data-ga-action="NavTopic">头条</a>
      <a href="<%= baskets_path %>" class="j_event_tracking" data-ga-category="LandingPage" data-ga-action="NavBasket">投组合</a>
      <a href="<%= stocks_path %>" class="j_event_tracking" data-ga-category="LandingPage" data-ga-action="NavAbout">选个股</a>
      <a href="<%= articles_path %>" class="j_event_tracking" data-ga-category="LandingPage" data-ga-action="NavNews">专栏</a>
      <a href="<%= app_index_url(from: "homepage") %>" data-ga-category="LandingPage" data-ga-action="NavAPP">下载移动版</a>
      <a href="/about/about_us" class="j_event_tracking" data-ga-category="LandingPage" data-ga-action="NavAbout">关于财说</a>
    </div>
  </div>
</header>
