<div style="display:none">
  <div class="landing" id="landing-docker">
	<div class="register registration land-page">
    <!--i class="close-window"></i>
    <h2>登录财说<i>海外投资门户，汇集上百优质精选组合</i></h2-->
    <%= form_for @user || User.new, url: login_url, method: :post, remote: true do |f| %>
    <dl class="landDl">
      <dd>
        <%=f.text_field :email, value: cookies[:email], class: 'medium', placeholder: "登录帐号" %>
        <span class="errorTip" id="j_popup_err">
          <em>账号或密码不正确</em>
        </span>
      </dd>
      <dd>
        <%=f.password_field :password, class: 'medium', placeholder: "密码"%>
        <span class="errorTip">
          <em>账号或密码不正确</em>
        </span>
      </dd>
      <dd>
        <input type="submit" class="b_btn register" value="登录" />
      </dd>
      <dd class="login_pas">
        <span class="land-registration">
          <%=link_to '忘记密码', new_account_password_path %>
          <%=link_to '注册', signup_path %>
        </span>
      </dd>
    </dl>
    <div class="land-button">
      <dl class="enterArea">
        <%= render "/shared/other_login" %>
      </dl>
    </div>
    <% end %>
    </div>
  </div>
</div>