<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=600" />
<meta property="qc:admins" content="24620377767631130576375" />
<%= favicon_link_tag '/images/favicon_32.ico', type: "image/x-icon" -%>
<%= seo_title(@page_title) %>
<%= stylesheet_link_tag "/stylesheets/v3/site.css", "/stylesheets/v3/global.css", "/stylesheets/v3/home.css" -%>
<%= include_gon -%>
<%= javascript_include_tag "application", "/javascripts/jquery.caishuo.js" %>
<%= controller_javascript_include_tag %>
<%= yield :header %>

<%= csrf_meta_tags %>
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
  <%= javascript_include_tag "/javascripts/html5shiv-v3.7.js", "/javascripts/respond-v1.4.2.min.js" %>
<![endif]-->
</head>
<body class="siteIndex">
<%= render '/shared/analytics/gtm'%>
<%= javascript_include_tag "translate" -%>

<%=yield%>

<%= render :partial => "layouts/footer" %>

<%= render 'layouts/base_dialog' %>

<%= render 'layouts/login_popup'%>

<%= yield :script %>
<%= render '/shared/analytics' -%>
</body>
</html>

